{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>questions</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="//fdn.fontcdn.ir">
    <link rel="preconnect" href="//v1.fontapi.ir">
    <link href="https://v1.fontapi.ir/css/Shabnam" rel="stylesheet">
</head>

<body>
    <main class="seasions">
        {%for i in b%}
        <p class="pe">{{i.body}}</p>
        <img src="#" alt="">
        <div class="test">

            <label for="test1" title="{{i.choice1}}" class="pe checkbox-container">{{i.choice1}}
                <input type="radio" title="test1" value="1" name="choice">
            </label>
            <label for="test2" title="{{i.choice2}}" class="pe checkbox-container">{{i.choice2}}
                <input type="radio" title="test2" name="choice" value="2">
            </label>
            <label for="test3" title="{{i.choice3}}" class="pe checkbox-container">{{i.choice3}}
                <input type="radio" title="test3" name="choice" value="3">
            </label>
            <label for="test4" title="{{i.choice4}}"" class="pe checkbox-container">{{i.choice4}}
                <input type="radio" title="test4" name="choice" value="4">
            </label>

        </div>
        {%endfor%}
    </main>

</body>

</html>