{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>questions</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="//fdn.fontcdn.ir">
    <link rel="preconnect" href="//v1.fontapi.ir">
    <link href="https://v1.fontapi.ir/css/Shabnam" rel="stylesheet">
</head>

<body>
    <main class="seasions">
        <p class="p">متن سوال</p>
        <img src="#" alt="">
        <label for="test1" title="گزینه 1" class="p checkbox-container"  style="top: 15rem;left:3.5rem">گزینه 1
            <input type="radio" title="test1" value="1" style="left: 0.0000rem" name="choice">
        </label>
        <label for="test2" title="گزینه 1" style="left: 13rem;top:15rem" class="p checkbox-container" >گزینه 1
            <input type="radio" title="test2" name="choice" style="left: 0.0000rem" value="2">
        </label>
        <label for="test3" title="گزینه 1" class="p checkbox-container" style="top: 15rem;left:22.5rem">گزینه 1
            <input type="radio" title="test3"  name="choice" style="left: 0.0000rem" value="3">
        </label>
        <label for="test4" title="گزینه 1" class="p checkbox-container" style="top: 15rem;left:32rem">گزینه 1
            <input type="radio" title="test4" name="choice" style="left: 0.0000rem" value="4" >
        </label>
    </main>

</body>

</html>