body {
    background: linear-gradient(-45deg, #d66835, #724cc9, #ba3d39, #d8bf1c);
    background-size: 400% 400%;
    animation: gradientMove 15s  alternate;
}

.seasions {
    padding: 10v 10vh;
    text-align: end;
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    font-size: x-large;
    font-family: Shabnam;
    color: white;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    flex-direction: column;
    /* رنگ سفید نیمه‌شفاف */

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* برای پشتیبانی در Safari */
    width: 10rem;
    height: 2.1rem;
    border-radius: 40px;
    text-decoration: none;
}

a:hover {
    transform: translate(25px);
    background: rgba(255, 255, 255, 0.3);
}


/* .qwe {
    position: absolute;
    left: 13rem;
    top: 8.25rem
} */


.asd {
    height: 25.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.checkbox-container input {
    appearance: none;

    -webkit-appearance: none;
    /* برای سافاری */
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
    color: #90ff70;
    position: relative;
}


.checkbox-container input:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

.checkbox-container input:checked::after {
    content: "✔";
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.test {
    height: 25px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;  */

}

.p {
    display: flex;
    width: 350px;
    text-align: start;
    font-family: Shabnam;
    font-size: xx-large;
}

.pe {

    font-family: Shabnam;
    font-size: xx-large;
}